
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/quibble/.vs/*
library/quibble/quibble/bin/*
library/quibble/quibble/obj/*

# ignore PowerShell Studio MetaData
quibble/quibble.psproj
quibble/quibble.psproj.bak
quibble/quibble.psprojs
quibble/quibble.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*